Data from: https://www.datascience4business.com/01_pdsm-tps-optin-a that is a version of: https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset

The major difference between this two sources are that 3 columns are missing from one to the other: MonthlyRate, HourlyRate, DailyRate. This will not affect the results since there were columns that we could not understood completely and their information could be replaced by MonthlyIncome. Also, there are missing values in the first one but not in the second. I discover this, after the missing values analysis, when trying to reproduce the results in the second dataset.

This project is intended to understand and quantify the problem of the employees attrition. I will try to model and automatize the notification of the employers with more risk to quit and analyze the reasons why they are leaving.

Since the dataset is in spanish, I will keep a dictionary to translate the name of the columns

In [1]:
spanish_english_cols_dict = {'edad': 'age', 'abandono': 'attrition', 'viajes': 'travel', 'departamento': 'department',
                             'distancia_casa': 'distance_home', 'educacion': 'education', 'carrera': 'career', 
                             'empleados': 'employees', 'satisfaccion_entorno': 'env_satisfaction', 'sexo': 'sex',
                             'implicacion': 'implication', 'nivel_laboral': 'labour_level', 'puesto': 'job',
                             'satisfaccion_trabajo': 'job_satisfaction', 'estado_civil': 'marital_status',
                             'salario_mes': 'monthly_salary', 'num_empresas_anteriores': 'num_previous_companies',
                             'mayor_edad': 'is_adult', 'horas_extra': 'extra_hours', 
                             'incremento_salario_porc': 'perc_salary_improvement', 'evaluacion': 'evaluation',
                             'satisfaccion_companeros': 'coworkers_satisfaction', 'horas_quincena': 'fortnight_hours',
                             'nivel_acciones': 'action_level', 'anos_experiencia': 'years_experience',
                             'num_formaciones_ult_ano': 'num_education_last_year', 'conciliacion': 'reconciliation', 
                             'anos_compania': 'years_company', 'anos_en_puesto': 'years_in_job', 
                             'anos_desde_ult_promocion': 'years_since_last_promotion',
                             'anos_con_manager_actual': 'years_with_current_manager'}

spanish_english_values = {'Universitaria': 'University', 'Secundaria': 'Secondary', 'Primaria': 'Elementary', 
                          'Alta': 'High', 'Muy_Alta': 'Very_High', 'Media': 'Medium', 'Baja': 'Low'}

In [2]:
from itertools import chain, combinations

import pandas as pd
import numpy as np
from scipy import stats
from sklearn.metrics import jaccard_score
from sklearn.pipeline import FeatureUnion, Pipeline
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import matplotlib

from tools.file_manager_workflows.model_file_manager_workflows import SaveWorkflow, LoadWorkflow
import tools.extend_pandas
from tools.models.transformations.base import NoTransformer
from tools.models.transformations.categorical import OneHotTargetedTransformer, OrdinalTargetedTransformer
%load_ext autoreload
%autoreload 2

In [3]:
ds_attrition = pd.read_csv('data/AbandonoEmpleados.csv', sep=';')
ds_attrition.columns = pd.Series(ds_attrition.columns).replace(spanish_english_cols_dict)
ds_attrition.replace(spanish_english_values, inplace=True)
ds_attrition.dtypes

age                             int64
attrition                      object
travel                         object
department                     object
distance_home                   int64
education                      object
career                         object
employees                       int64
id                              int64
env_satisfaction               object
sex                           float64
implication                    object
labour_level                    int64
job                            object
job_satisfaction               object
marital_status                 object
monthly_salary                  int64
num_previous_companies          int64
is_adult                       object
extra_hours                    object
perc_salary_improvement         int64
evaluation                     object
coworkers_satisfaction         object
fortnight_hours                 int64
action_level                    int64
years_experience                int64
num_education_last_year         int64
reconciliation                 object
years_company                   int64
years_in_job                  float64
years_since_last_promotion      int64
years_with_current_manager      int64
dtype: object

In [4]:
ds_attrition.head()

,age,attrition,travel,department,distance_home,education,career,employees,id,env_satisfaction,...,coworkers_satisfaction,fortnight_hours,action_level,years_experience,num_education_last_year,reconciliation,years_company,years_in_job,years_since_last_promotion,years_with_current_manager
0,41,Yes,Travel_Rarely,Sales,1,University,Life Sciences,1,1,Medium,...,Low,80,0,8,0,#N/D,6,NaN,0,5
1,49,No,Travel_Frequently,Research & Development,8,Secondary,Life Sciences,1,2,High,...,Very_High,80,1,10,3,#N/D,10,NaN,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,Secondary,Other,1,4,Very_High,...,Medium,80,0,7,3,#N/D,0,2.0,0,0
3,33,No,Travel_Frequently,Research & Development,3,University,Life Sciences,1,5,Very_High,...,High,80,0,8,3,#N/D,8,3.0,3,0
4,27,No,Travel_Rarely,Research & Development,2,University,Medical,1,7,Low,...,Very_High,80,1,6,3,#N/D,2,NaN,2,2

# Data Quality

I will analyze the completeness, uniqueness and validity of the data and I will take for granted the timeliness, the consistency and the accuracy of the data.

## Completeness: missing values

The best technique I found to find out missing values, since there are not necessarily NaN but can be any value, is making a frequency table in order to see if there is any value that can represent the missing value, and what percentage it represents. But what it is true, is that the id ends in 2068 and there is 1470 rows so this dataset has some implicit missing data since there are missing employees.

## Uniqueness

The id column ensures the uniqueness of each row and looking at the frequency table, we can see that there is no duplicates in this dataset

## Validity

With the frequency table, we can see if there is any possible error outlier or value that does not make sense considering the meaning of the column, for instance, an age of 1500. There is no wrong values at first sight.

Columns                         Missing values

age                         	There is no NaN
attrition                    	There is no NaN
travel                      	There is no NaN
department                  	There is no NaN
distance_home               	There is no NaN
education                   	#N/D (6.87%) ¿represents that they have no education or NaN value? It seems to be NaN,                                         considering the rest of the NaN value are represented with that and the values are from
                                Master to Elementary
career                      	There is no NaN
employees                   	There is no NaN (all 1, useless column. Delete)
id                          	There is no NaN ("primary key", different one for each)
env_satisfaction            	There is no NaN
sex                         	NaN as NaN (13.54%)
implication                 	#N/D (1.22%)
labour_level                	There is no NaN
job                         	There is no NaN
job_satisfaction            	#N/D (5.17%)
marital_status              	There is no NaN
monthly_salary              	There is no NaN
num_previous_companies      	There is no NaN
is_adult                    	There is no NaN (all 1, useless column. Delete)
extra_hours                 	There is no NaN
porc_salary_imprevement     	There is no NaN
evaluation                  	There is no NaN
coworkers_satisfaction      	There is no NaN
fortnight_hours             	There is no NaN (all 80, useless column. Delete)
action_level                	There is no NaN
years_experience            	There is no NaN
num_education_last_year     	There is no NaN
reconciliation              	#N/D (68.78%)
years_company               	There is no NaN
years_in_job                	NaN as NaN (84.22%)
years_since_last_promotion  	There is no NaN
years_with_current_manager  	There is no NaN

In [5]:
ds_attrition.columns

Index(['age', 'attrition', 'travel', 'department', 'distance_home',
       'education', 'career', 'employees', 'id', 'env_satisfaction', 'sex',
       'implication', 'labour_level', 'job', 'job_satisfaction',
       'marital_status', 'monthly_salary', 'num_previous_companies',
       'is_adult', 'extra_hours', 'perc_salary_improvement', 'evaluation',
       'coworkers_satisfaction', 'fortnight_hours', 'action_level',
       'years_experience', 'num_education_last_year', 'reconciliation',
       'years_company', 'years_in_job', 'years_since_last_promotion',
       'years_with_current_manager'],
      dtype='object')

In [6]:
possible_columns_with_na = ds_attrition.missing.analysis.missing_scan_count_with_default_na_representation(show_zeros=False)
display(possible_columns_with_na)
ds_attrition.missing.analysis.print_value_counts_per_column(variables=possible_columns_with_na['variable'])

                      variable     n        pct original_type
5                    education   101   6.870748        object
8                           id     1   0.068027         int64
11                 implication    18   1.224490        object
14            job_satisfaction    76   5.170068        object
17      num_previous_companies   197  13.401361         int64
24                action_level   631  42.925170         int64
25            years_experience    11   0.748299         int64
26     num_education_last_year    54   3.673469         int64
27              reconciliation  1011  68.775510        object
28               years_company    44   2.993197         int64
30  years_since_last_promotion   581  39.523810         int64
31  years_with_current_manager   263  17.891156         int64

------------ education ------------
University    814
Secondary     348
Master        130
#N/D          101
Elementary     77
Name: education, dtype: int64


------------ id ------------
1       1
1391    1
1389    1
1387    1
1383    1
       ..
659     1
657     1
656     1
655     1
2068    1
Name: id, Length: 1470, dtype: int64


------------ implication ------------
High         857
Medium       368
Very_High    144
Low           83
#N/D          18
Name: implication, dtype: int64


------------ job_satisfaction ------------
High         828
Medium       354
Very_High    136
#N/D          76
Low           76
Name: job_satisfaction, dtype: int64


------------ num_previous_companies ------------
1    521
0    197
3    159
2    146
4    139
7     74
6     70
5     63
9     52
8     49
Name: num_previous_companies, dtype: int64


------------ action_level ------------
0    631
1    596
2    158
3     85
Name: action_level, dtype: int64


------------ years_experience ------------
10    202
6     125
8     103
9      96
5      88
7      81
1      81
4      63
12     48
3      42
15     40
16     37
11     36
13     36
21     34
17     33
2      31
14     31
20     30
18     27
19     22
23     22
22     21
24     18
25     14
28     14
26     14
0      11
29     10
31      9
32      9
30      7
33      7
27      7
36      6
34      5
37      4
35      3
40      2
38      1
Name: years_experience, dtype: int64


------------ num_education_last_year ------------
2    547
3    491
4    123
5    119
1     71
6     65
0     54
Name: num_education_last_year, dtype: int64


------------ reconciliation ------------
#N/D         1011
High          257
Medium        114
Very_High      60
Low            28
Name: reconciliation, dtype: int64


------------ years_company ------------
5     196
1     171
3     128
2     127
10    120
4     110
7      90
9      82
8      80
6      76
0      44
11     32
20     27
13     24
15     20
14     18
22     15
12     14
21     14
18     13
16     12
19     11
17      9
24      6
33      5
25      4
26      4
31      3
32      3
27      2
36      2
29      2
23      2
37      1
40      1
34      1
30      1
Name: years_company, dtype: int64


------------ years_since_last_promotion ------------
0     581
1     357
2     159
7      76
4      61
3      52
5      45
6      32
11     24
8      18
9      17
15     13
13     10
12     10
14      9
10      6
Name: years_since_last_promotion, dtype: int64


------------ years_with_current_manager ------------
2     344
0     263
7     216
3     142
8     107
4      98
1      76
9      64
5      31
6      29
10     27
11     22
12     18
13     14
17      7
15      5
14      5
16      2
Name: years_with_current_manager, dtype: int64

In [7]:
ds_attrition

,age,attrition,travel,department,distance_home,education,career,employees,id,env_satisfaction,...,coworkers_satisfaction,fortnight_hours,action_level,years_experience,num_education_last_year,reconciliation,years_company,years_in_job,years_since_last_promotion,years_with_current_manager
0,41,Yes,Travel_Rarely,Sales,1,University,Life Sciences,1,1,Medium,...,Low,80,0,8,0,#N/D,6,NaN,0,5
1,49,No,Travel_Frequently,Research & Development,8,Secondary,Life Sciences,1,2,High,...,Very_High,80,1,10,3,#N/D,10,NaN,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,Secondary,Other,1,4,Very_High,...,Medium,80,0,7,3,#N/D,0,2.0,0,0
3,33,No,Travel_Frequently,Research & Development,3,University,Life Sciences,1,5,Very_High,...,High,80,0,8,3,#N/D,8,3.0,3,0
4,27,No,Travel_Rarely,Research & Development,2,University,Medical,1,7,Low,...,Very_High,80,1,6,3,#N/D,2,NaN,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,Research & Development,23,Master,Medical,1,2061,High,...,High,80,1,17,3,#N/D,5,4.0,0,3
1466,39,No,Travel_Rarely,Research & Development,6,Secondary,Medical,1,2062,Very_High,...,Low,80,1,9,5,#N/D,7,NaN,1,7
1467,27,No,Travel_Rarely,Research & Development,4,Master,Life Sciences,1,2064,Medium,...,Medium,80,1,6,0,#N/D,6,NaN,0,3
1468,49,No,Travel_Frequently,Sales,2,Secondary,Medical,1,2065,Very_High,...,Very_High,80,0,17,3,#N/D,9,NaN,0,8
1469,34,No,Travel_Rarely,Research & Development,8,#N/D,Medical,1,2068,Medium,...,Low,80,0,6,3,Very_High,4,NaN,1,2

It seems that the occurrences of the number 0 in this dataset are meaningful and not representing NaNs so I will be analyzing the same skipping it.

In [8]:
possible_columns_with_na = ds_attrition.missing.analysis.missing_scan_count_with_default_na_representation([0, 99, 999], show_zeros=False)
display(possible_columns_with_na)
ds_attrition.missing.analysis.print_value_counts_per_column(variables=possible_columns_with_na['variable'])

            variable     n        pct original_type
5          education   101   6.870748        object
11       implication    18   1.224490        object
14  job_satisfaction    76   5.170068        object
27    reconciliation  1011  68.775510        object

------------ education ------------
University    814
Secondary     348
Master        130
#N/D          101
Elementary     77
Name: education, dtype: int64


------------ implication ------------
High         857
Medium       368
Very_High    144
Low           83
#N/D          18
Name: implication, dtype: int64


------------ job_satisfaction ------------
High         828
Medium       354
Very_High    136
#N/D          76
Low           76
Name: job_satisfaction, dtype: int64


------------ reconciliation ------------
#N/D         1011
High          257
Medium        114
Very_High      60
Low            28
Name: reconciliation, dtype: int64

There is only #N/D left as possible NaN value

In [9]:
ds_attrition.replace({'#N/D': np.nan}, inplace=True)
perc_null = ds_attrition.isnull().mean()
perc_null[perc_null > 0].sort_values()

implication         0.012245
job_satisfaction    0.051701
education           0.068707
sex                 0.135374
reconciliation      0.687755
years_in_job        0.842177
dtype: float64

In [10]:
ds_attrition.missing.analysis.print_value_counts_per_column()

------------ age ------------
35    78
34    77
36    69
31    69
29    68
32    61
30    60
33    58
38    58
40    57
37    50
27    48
28    48
42    46
39    42
45    41
41    40
26    39
44    33
46    33
43    32
50    30
25    26
24    26
49    24
47    24
55    22
51    19
53    19
48    19
54    18
52    18
22    16
56    14
23    14
58    14
21    13
20    11
59    10
19     9
18     8
60     5
57     4
Name: age, dtype: int64


------------ attrition ------------
No     1233
Yes     237
Name: attrition, dtype: int64


------------ travel ------------
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: travel, dtype: int64


------------ department ------------
Research & Development    961
Sales                     446
Human Resources            63
Name: department, dtype: int64


------------ distance_home ------------
2     211
1     208
10     86
9      85
3      84
7      84
8      80
5      65
4      64
6      59
16     32
11     29
24     28
23     27
29     27
15     26
18     26
26     25
25     25
20     25
28     23
19     22
14     21
12     20
17     20
22     19
13     19
21     18
27     12
Name: distance_home, dtype: int64


------------ education ------------
University    814
Secondary     348
Master        130
NaN           101
Elementary     77
Name: education, dtype: int64


------------ career ------------
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: career, dtype: int64


------------ employees ------------
1    1470
Name: employees, dtype: int64


------------ id ------------
1       1
1391    1
1389    1
1387    1
1383    1
       ..
659     1
657     1
656     1
655     1
2068    1
Name: id, Length: 1470, dtype: int64


------------ env_satisfaction ------------
High         453
Very_High    446
Medium       287
Low          284
Name: env_satisfaction, dtype: int64


------------ sex ------------
3.0    739
2.0    328
NaN    199
4.0    130
1.0     74
Name: sex, dtype: int64


------------ implication ------------
High         857
Medium       368
Very_High    144
Low           83
NaN           18
Name: implication, dtype: int64


------------ labour_level ------------
1    543
2    534
3    218
4    106
5     69
Name: labour_level, dtype: int64


------------ job ------------
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: job, dtype: int64


------------ job_satisfaction ------------
High         828
Medium       354
Very_High    136
NaN           76
Low           76
Name: job_satisfaction, dtype: int64


------------ marital_status ------------
Married     673
Single      470
Divorced    327
Name: marital_status, dtype: int64


------------ monthly_salary ------------
2342     4
6142     3
2741     3
2559     3
2610     3
        ..
7104     1
2773     1
19513    1
3447     1
4404     1
Name: monthly_salary, Length: 1349, dtype: int64


------------ num_previous_companies ------------
1    521
0    197
3    159
2    146
4    139
7     74
6     70
5     63
9     52
8     49
Name: num_previous_companies, dtype: int64


------------ is_adult ------------
Y    1470
Name: is_adult, dtype: int64


------------ extra_hours ------------
No     1054
Yes     416
Name: extra_hours, dtype: int64


------------ perc_salary_improvement ------------
11    210
13    209
14    201
12    198
15    101
18     89
17     82
16     78
19     76
22     56
20     55
21     48
23     28
24     21
25     18
Name: perc_salary_improvement, dtype: int64


------------ evaluation ------------
High         1244
Very_High     226
Name: evaluation, dtype: int64


------------ coworkers_satisfaction ------------
High         459
Very_High    432
Medium       303
Low          276
Name: coworkers_satisfaction, dtype: int64


------------ fortnight_hours ------------
80    1470
Name: fortnight_hours, dtype: int64


------------ action_level ------------
0    631
1    596
2    158
3     85
Name: action_level, dtype: int64


------------ years_experience ------------
10    202
6     125
8     103
9      96
5      88
7      81
1      81
4      63
12     48
3      42
15     40
16     37
11     36
13     36
21     34
17     33
2      31
14     31
20     30
18     27
19     22
23     22
22     21
24     18
25     14
28     14
26     14
0      11
29     10
31      9
32      9
30      7
33      7
27      7
36      6
34      5
37      4
35      3
40      2
38      1
Name: years_experience, dtype: int64


------------ num_education_last_year ------------
2    547
3    491
4    123
5    119
1     71
6     65
0     54
Name: num_education_last_year, dtype: int64


------------ reconciliation ------------
NaN          1011
High          257
Medium        114
Very_High      60
Low            28
Name: reconciliation, dtype: int64


------------ years_company ------------
5     196
1     171
3     128
2     127
10    120
4     110
7      90
9      82
8      80
6      76
0      44
11     32
20     27
13     24
15     20
14     18
22     15
12     14
21     14
18     13
16     12
19     11
17      9
24      6
33      5
25      4
26      4
31      3
32      3
27      2
36      2
29      2
23      2
37      1
40      1
34      1
30      1
Name: years_company, dtype: int64


------------ years_in_job ------------
NaN    1238
3.0     141
2.0      54
4.0      25
1.0      12
Name: years_in_job, dtype: int64


------------ years_since_last_promotion ------------
0     581
1     357
2     159
7      76
4      61
3      52
5      45
6      32
11     24
8      18
9      17
15     13
13     10
12     10
14      9
10      6
Name: years_since_last_promotion, dtype: int64


------------ years_with_current_manager ------------
2     344
0     263
7     216
3     142
8     107
4      98
1      76
9      64
5      31
6      29
10     27
11     22
12     18
13     14
17      7
15      5
14      5
16      2
Name: years_with_current_manager, dtype: int64

It does not seem like there is any other missing value

Reconciliation and years_in_job have a lot of missing values, which makes them a good candidates to be deleted. I will have to take care of the others. I will analyze if there is a possible pattern between them or with the target.

In [11]:
missing_per_rows = ds_attrition.missing.analysis.missing_case_summary()
missing_per_rows.value_counts('n_missing')

n_missing
2    762
1    451
3    164
0     58
6     18
4     17
dtype: int64

In [12]:
four_missing_cases = missing_per_rows.loc[missing_per_rows['n_missing'] == 4, 'case'].values
ds_attrition.iloc[four_missing_cases].missing.analysis.missing_variable_summary(show_zeros=False)

            variable  n_missing  pct_missing
5          education         13    76.470588
10               sex         14    82.352941
14  job_satisfaction          7    41.176471
27    reconciliation         17   100.000000
29      years_in_job         17   100.000000

In [13]:
six_missing_cases = missing_per_rows.loc[missing_per_rows['n_missing'] == 6, 'case'].values
ds_attrition.iloc[six_missing_cases].missing.analysis.missing_variable_summary(show_zeros=False)

            variable  n_missing  pct_missing
5          education         18        100.0
10               sex         18        100.0
11       implication         18        100.0
14  job_satisfaction         18        100.0
27    reconciliation         18        100.0
29      years_in_job         18        100.0

It appears that there is no row with 5 missing values and it seems like those which has 6 missing values has the same 6 columns that could be a pattern. But since there is only 18, I will not take it as any pattern.

## Pattern missing data analysis

To find patterns in the missing data, I will calculate the correlations for the different columns vs a new column with 1 when the value of a specific column is missing and 0 when it is not. I will use different test depending on the variable type. Since our variable will be binary or dichotomous, I will be using:

- Point-biserial: numerical continuous
- Tetrachronic: binary
- Cramer-V: categorical

The point-biserial, Pearson and Spearman is the same in the case of dichotomous vs dichotomous.

In [14]:
ds_attrition_pattern_md = ds_attrition.missing.analysis.bind_shadow_matrix(True, False, only_missing=True)
ds_attrition_pattern_md.head()

,age,attrition,travel,department,distance_home,education,career,employees,id,env_satisfaction,...,years_company,years_in_job,years_since_last_promotion,years_with_current_manager,education_NA,sex_NA,implication_NA,job_satisfaction_NA,reconciliation_NA,years_in_job_NA
0,41,Yes,Travel_Rarely,Sales,1,University,Life Sciences,1,1,Medium,...,6,NaN,0,5,False,False,False,False,True,True
1,49,No,Travel_Frequently,Research & Development,8,Secondary,Life Sciences,1,2,High,...,10,NaN,1,7,False,False,False,False,True,True
2,37,Yes,Travel_Rarely,Research & Development,2,Secondary,Other,1,4,Very_High,...,0,2.0,0,0,False,False,False,False,True,False
3,33,No,Travel_Frequently,Research & Development,3,University,Life Sciences,1,5,Very_High,...,8,3.0,3,0,False,False,False,False,True,False
4,27,No,Travel_Rarely,Research & Development,2,University,Medical,1,7,Low,...,2,NaN,2,2,False,False,False,False,True,True

In [15]:
def correlation_info(df, corr_method: str = 'pearson', corr_threshold: float = 0.8, missing_suffix: str = '_NA'):
    all_corr = df.corr(method=corr_method)
    corr_missing_data = all_corr[all_corr.index.str.endswith(missing_suffix)]
    corr_missing_data.replace(1.0, np.nan, inplace=True)
    return (corr_missing_data[corr_missing_data.abs() > corr_threshold]
            .dropna(axis=1, how='all')
            .dropna(axis=0, how='all'))

In [16]:
def correlation_pointbiserialr(x, y):
    return stats.pointbiserialr(x, y).correlation

In [17]:
correlation_info(ds_attrition_pattern_md, correlation_pointbiserialr, corr_threshold=0.4)

<ipython-input-15-840864b5e441>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  all_corr = df.corr(method=corr_method)
c:\users\almudena\appdata\local\programs\python\python39\lib\site-packages\scipy\stats\stats.py:3913: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())
<ipython-input-15-840864b5e441>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  corr_missing_data.replace(1.0, np.nan, inplace=True)

                     education_NA  implication_NA  job_satisfaction_NA
education_NA                  NaN        0.409915                  NaN
implication_NA           0.409915             NaN             0.476845
job_satisfaction_NA           NaN        0.476845                  NaN

In [18]:
# ds_attrition_pattern_md.missing.missing_upsetplot()

It seems that there is no clear pattern in the missing data. All possible coincidences are due to the high number of missing values in years_in_job and reconciliation. Also the correlation analysis has showed the same. 

After some research about the origin of the data, it seems that the original data has not missing values. So, it is probably that the values that are missing are, in fact, missing competely at random from the second data source for education purposes. Knowing that, we can procceed to choose how the missing values are going to be handled.

Since I have considered the missing data as Missing Completely at Random, the data can be removed without losing relevant information but imputation is preferred.

# EDA and Data Cleaning

First of all, I will delete the columns I saw that has for all the employees the same value since it will not apport any extra information. That columns were: employees, is_adult, fortnight_hours

Since I concluded that the missing are at random, I will delete the columns years in job and reconciliation because of the % of missing data.

In [19]:
ds_attrition_pattern_md.head()

,age,attrition,travel,department,distance_home,education,career,employees,id,env_satisfaction,...,years_company,years_in_job,years_since_last_promotion,years_with_current_manager,education_NA,sex_NA,implication_NA,job_satisfaction_NA,reconciliation_NA,years_in_job_NA
0,41,Yes,Travel_Rarely,Sales,1,University,Life Sciences,1,1,Medium,...,6,NaN,0,5,False,False,False,False,True,True
1,49,No,Travel_Frequently,Research & Development,8,Secondary,Life Sciences,1,2,High,...,10,NaN,1,7,False,False,False,False,True,True
2,37,Yes,Travel_Rarely,Research & Development,2,Secondary,Other,1,4,Very_High,...,0,2.0,0,0,False,False,False,False,True,False
3,33,No,Travel_Frequently,Research & Development,3,University,Life Sciences,1,5,Very_High,...,8,3.0,3,0,False,False,False,False,True,False
4,27,No,Travel_Rarely,Research & Development,2,University,Medical,1,7,Low,...,2,NaN,2,2,False,False,False,False,True,True

The column 'sex' has values from 1 to 4 and also has +10% of missing values, so I will drop it since I cannot understand what this values represents.

In [20]:
ds_attrition.drop(['employees', 'is_adult', 'fortnight_hours', 'reconciliation', 'years_in_job', 'sex'], axis=1, inplace=True)

In [21]:
categorical_features = ds_attrition.dtypes[ds_attrition.dtypes=='object'].index
numerical_features = ds_attrition.dtypes[ds_attrition.dtypes!='object'].index

In [22]:
ds_attrition.loc[:, numerical_features].tail()

,age,distance_home,id,labour_level,monthly_salary,num_previous_companies,perc_salary_improvement,action_level,years_experience,num_education_last_year,years_company,years_since_last_promotion,years_with_current_manager
1465,36,23,2061,2,2571,4,17,1,17,3,5,0,3
1466,39,6,2062,3,9991,4,15,1,9,5,7,1,7
1467,27,4,2064,2,6142,1,20,1,6,0,6,0,3
1468,49,2,2065,2,5390,2,14,0,17,3,9,0,8
1469,34,8,2068,2,4404,2,12,0,6,3,4,1,2

In [23]:
ds_attrition['action_level'].sort_values()

0       0
747     0
748     0
752     0
753     0
       ..
683     3
866     3
1257    3
868     3
1333    3
Name: action_level, Length: 1470, dtype: int64

In [24]:
ds_attrition.loc[:, categorical_features].tail()

,attrition,travel,department,education,career,env_satisfaction,implication,job,job_satisfaction,marital_status,extra_hours,evaluation,coworkers_satisfaction
1465,No,Travel_Frequently,Research & Development,Master,Medical,High,Very_High,Laboratory Technician,Very_High,Married,No,High,High
1466,No,Travel_Rarely,Research & Development,Secondary,Medical,Very_High,Medium,Healthcare Representative,Medium,Married,No,High,Low
1467,No,Travel_Rarely,Research & Development,Master,Life Sciences,Medium,Very_High,Manufacturing Director,Very_High,Married,Yes,Very_High,Medium
1468,No,Travel_Frequently,Sales,Secondary,Medical,Very_High,Medium,Sales Executive,Medium,Married,No,High,Very_High
1469,No,Travel_Rarely,Research & Development,NaN,Medical,Medium,Very_High,Laboratory Technician,Very_High,Married,No,High,Low

I will transform ordinal/binary categorical features with label encoding and the non ordinal categorical features with one-hot encoder

In [25]:
ds_attrition['marital_status']

0        Single
1       Married
2        Single
3       Married
4       Married
         ...
1465    Married
1466    Married
1467    Married
1468    Married
1469    Married
Name: marital_status, Length: 1470, dtype: object

In [26]:
ds_attrition.marital_status.value_counts()

Married     673
Single      470
Divorced    327
Name: marital_status, dtype: int64

In [27]:
cat_not_ordinal_features = ['department', 'career', 'job', 'marital_status']
binary_and_ordinal_features = categorical_features[~categorical_features.isin(cat_not_ordinal_features)].to_list()

In [28]:
ds_attrition[binary_and_ordinal_features].head()

,attrition,travel,education,env_satisfaction,implication,job_satisfaction,extra_hours,evaluation,coworkers_satisfaction
0,Yes,Travel_Rarely,University,Medium,High,High,Yes,High,Low
1,No,Travel_Frequently,Secondary,High,Medium,Medium,No,Very_High,Very_High
2,Yes,Travel_Rarely,Secondary,Very_High,Medium,Medium,Yes,High,Medium
3,No,Travel_Frequently,University,Very_High,High,High,Yes,High,High
4,No,Travel_Rarely,University,Low,High,High,No,High,Very_High

In [29]:
dict_ord_cat_order = {
    'attrition': ['No', 'Yes'],
    'travel': ['Non-Travel', 'Travel_Rarely', 'Travel_Frequently'],
    'education': ['Elementary', 'Secondary', 'University', 'Master'],
    'env_satisfaction': ['Low', 'Medium', 'High', 'Very_High'],
    'implication': ['Low', 'Medium', 'High', 'Very_High'],
    'job_satisfaction': ['Low', 'Medium', 'High', 'Very_High'],
    'extra_hours': ['No', 'Yes'],
    'evaluation': ['Low', 'Medium', 'High', 'Very_High'],
    'coworkers_satisfaction': ['Low', 'Medium', 'High', 'Very_High'],
}

We can apply directly one hot encoder to this columns, since the maximum number of different values is 9. And we can apply it now because there is no NaN values in any of the these columns

From here, I will split the data into train and validation with a simple 0.8-0.2 in order to avoid data leakage

In [30]:
x = ds_attrition[[column for column in ds_attrition.columns if column != 'attrition']]
y = ds_attrition[['attrition']]
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y, test_size=0.2)

I will be saving one model for each column to keep them separated. In case one of the features changes, we would only need to update that one.

In [31]:
x.head()

,age,travel,department,distance_home,education,career,id,env_satisfaction,implication,labour_level,...,extra_hours,perc_salary_improvement,evaluation,coworkers_satisfaction,action_level,years_experience,num_education_last_year,years_company,years_since_last_promotion,years_with_current_manager
0,41,Travel_Rarely,Sales,1,University,Life Sciences,1,Medium,High,2,...,Yes,11,High,Low,0,8,0,6,0,5
1,49,Travel_Frequently,Research & Development,8,Secondary,Life Sciences,2,High,Medium,2,...,No,23,Very_High,Very_High,1,10,3,10,1,7
2,37,Travel_Rarely,Research & Development,2,Secondary,Other,4,Very_High,Medium,1,...,Yes,15,High,Medium,0,7,3,0,0,0
3,33,Travel_Frequently,Research & Development,3,University,Life Sciences,5,Very_High,High,1,...,Yes,11,High,High,0,8,3,8,3,0
4,27,Travel_Rarely,Research & Development,2,University,Medical,7,Low,High,1,...,No,12,High,Very_High,1,6,3,2,2,2

In [32]:
ordinal_enc_features = list(dict_ord_cat_order.keys())
ordinal_enc_features = [feature for feature in ordinal_enc_features if feature != 'attrition']

steps_names = ['num no transf', 'one-hot enc', 'ordinal enc']

features = [
  ('num no transf', NoTransformer(numerical_features)),
  ('one-hot enc', OneHotTargetedTransformer(cat_not_ordinal_features)),
  ('ordinal enc', OrdinalTargetedTransformer(ordered_labels=dict_ord_cat_order,
                                             columns_to_apply=ordinal_enc_features,
                                             handle_unknown='use_encoded_value',
                                             unknown_value=np.nan))
]
data_transform_pipeline = FeatureUnion(features)

In [33]:
x_train_transf = data_transform_pipeline.fit_transform(x_train)
x_test_transf = data_transform_pipeline.transform(x_test)

In [34]:
import os
cwd = os.getcwd()

In [35]:
models_file_path = os.path.join(cwd, 'models')

In [36]:
list_of_columns = [data_transform_pipeline.get_params()[step_name]._array_column_names for step_name in steps_names]
column_names = [item for col in list_of_columns for item in col]

In [37]:
new_df = pd.DataFrame(x_train_transf, columns=column_names).sort_values('id')
new_df

,age,distance_home,id,labour_level,monthly_salary,num_previous_companies,perc_salary_improvement,action_level,years_experience,num_education_last_year,...,marital_status__married,marital_status__single,travel,education,env_satisfaction,implication,job_satisfaction,extra_hours,evaluation,coworkers_satisfaction
127,41.0,1.0,1.0,2.0,5993.0,8.0,11.0,0.0,8.0,0.0,...,0.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,0.0
846,49.0,8.0,2.0,2.0,5130.0,1.0,23.0,1.0,10.0,3.0,...,1.0,0.0,2.0,1.0,2.0,1.0,1.0,0.0,3.0,3.0
742,33.0,3.0,5.0,1.0,2909.0,1.0,11.0,0.0,8.0,3.0,...,1.0,0.0,2.0,2.0,3.0,2.0,2.0,1.0,2.0,2.0
591,32.0,2.0,8.0,1.0,3068.0,0.0,13.0,0.0,8.0,2.0,...,0.0,1.0,2.0,2.0,3.0,2.0,2.0,0.0,2.0,2.0
921,59.0,3.0,10.0,1.0,2670.0,4.0,20.0,3.0,12.0,3.0,...,1.0,0.0,1.0,3.0,2.0,3.0,3.0,1.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,36.0,23.0,2061.0,2.0,2571.0,4.0,17.0,1.0,17.0,3.0,...,1.0,0.0,2.0,3.0,2.0,3.0,3.0,0.0,2.0,2.0
925,39.0,6.0,2062.0,3.0,9991.0,4.0,15.0,1.0,9.0,5.0,...,1.0,0.0,1.0,1.0,3.0,1.0,1.0,0.0,2.0,0.0
336,27.0,4.0,2064.0,2.0,6142.0,1.0,20.0,1.0,6.0,0.0,...,1.0,0.0,1.0,3.0,1.0,3.0,3.0,1.0,3.0,1.0
932,49.0,2.0,2065.0,2.0,5390.0,2.0,14.0,0.0,17.0,3.0,...,1.0,0.0,2.0,1.0,3.0,1.0,1.0,0.0,2.0,3.0
83,34.0,8.0,2068.0,2.0,4404.0,2.0,12.0,0.0,6.0,3.0,...,1.0,0.0,1.0,NaN,1.0,3.0,3.0,0.0,2.0,0.0

I will not use the column id from here since it does not apport additional information, since we have already seen that there is no duplicated ids and they are all different people.

In [38]:
data_transform_pipeline.transformer_list

[('num no transf',
  <tools.models.transformations.base.NoTransformer at 0x23d246fbc40>),
 ('one-hot enc',
  <tools.models.transformations.categorical.OneHotTargetedTransformer at 0x23d2472b760>),
 ('ordinal enc',
  <tools.models.transformations.categorical.OrdinalTargetedTransformer at 0x23d2472b190>)]

In [39]:
models_to_save = [{"model": model[1], "pipeline_name": model[0]} for model in data_transform_pipeline.transformer_list]

In [40]:
models_to_save

[{'model': <tools.models.transformations.base.NoTransformer at 0x23d246fbc40>,
  'pipeline_name': 'num no transf'},
 {'model': <tools.models.transformations.categorical.OneHotTargetedTransformer at 0x23d2472b760>,
  'pipeline_name': 'one-hot enc'},
 {'model': <tools.models.transformations.categorical.OrdinalTargetedTransformer at 0x23d2472b190>,
  'pipeline_name': 'ordinal enc'}]

In [41]:
models_to_save[1]['model']._models

{'department': OneHotEncoder(sparse=False),
 'career': OneHotEncoder(sparse=False),
 'job': OneHotEncoder(sparse=False),
 'marital_status': OneHotEncoder(sparse=False)}

In [42]:
transformers_file_path = os.path.join(models_file_path, 'transformations')

In [43]:
SaveWorkflow().save_models(models_to_save=models_to_save, file_path=transformers_file_path, save_separated=True, append_to_file=False)

WARNING:root:The model NoTransformer you are trying to save is not in the config file

loading..
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\tools\file_manager_workflows\config_files. file_name: model_manager_mapping
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\tools\file_manager_workflows\config_files\model_manager_mapping.yaml
Loaded obj: {'OneHotTargetedTransformer': 'PickleManager', 'OrdinalTargetedTransformer': 'PickleManager'}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer. file_name: department
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer\department.pkl
{}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer. file_name: department
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer\department.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer. file_name: career
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer\career.pkl
{}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer. file_name: career
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer\career.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer. file_name: job
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer\job.pkl
{}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer. file_name: job
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer\job.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer. file_name: marital_status
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer\marital_status.pkl
{}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer. file_name: marital_status
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OneHotTargetedTransformer\marital_status.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: travel
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\travel.pkl
{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: travel
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\travel.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: education
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\education.pkl
{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: education
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\education.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: env_satisfaction
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\env_satisfaction.pkl
{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: env_satisfaction
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\env_satisfaction.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: implication
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\implication.pkl
{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: implication
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\implication.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: job_satisfaction
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\job_satisfaction.pkl
{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: job_satisfaction
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\job_satisfaction.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: extra_hours
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\extra_hours.pkl
{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: extra_hours
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\extra_hours.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: evaluation
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\evaluation.pkl
{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: evaluation
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\evaluation.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: coworkers_satisfaction
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\coworkers_satisfaction.pkl
{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer. file_name: coworkers_satisfaction
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\models\transformations\OrdinalTargetedTransformer\coworkers_satisfaction.pkl
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\tools\file_manager_workflows\config_files. file_name: employee_attrition_model_config
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\tools\file_manager_workflows\config_files\employee_attrition_model_config.yaml

In [44]:
models = LoadWorkflow().load_models('pipeline_name')

loading..
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\tools\file_manager_workflows\config_files. file_name: model_manager_mapping
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\tools\file_manager_workflows\config_files\model_manager_mapping.yaml
Loaded obj: {'OneHotTargetedTransformer': 'PickleManager', 'OrdinalTargetedTransformer': 'PickleManager'}
loading..
File path: E:\Documentos\Proyectos\Portfolio\employee_attrition\tools\file_manager_workflows\config_files. file_name: employee_attrition_model_config
complete_file_path: E:\Documentos\Proyectos\Portfolio\employee_attrition\tools\file_manager_workflows\config_files\employee_attrition_model_config.yaml
Loaded obj: {'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\career.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OneHotTargetedTransformer', 'model_id': 2461627758432, 'model_kwargs': '{}', 'model_name': 'career', 'pipeline_name': 'one-hot enc'}, 'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\department.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OneHotTargetedTransformer', 'model_id': 2461627758432, 'model_kwargs': '{}', 'model_name': 'department', 'pipeline_name': 'one-hot enc'}, 'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\job.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OneHotTargetedTransformer', 'model_id': 2461627758432, 'model_kwargs': '{}', 'model_name': 'job', 'pipeline_name': 'one-hot enc'}, 'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\marital_status.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OneHotTargetedTransformer', 'model_id': 2461627758432, 'model_kwargs': '{}', 'model_name': 'marital_status', 'pipeline_name': 'one-hot enc'}, 'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OrdinalTargetedTransformer\\coworkers_satisfaction.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OrdinalTargetedTransformer', 'model_id': 2461627756944, 'model_kwargs': "{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}", 'model_name': 'coworkers_satisfaction', 'pipeline_name': 'ordinal enc'}, 'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OrdinalTargetedTransformer\\education.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OrdinalTargetedTransformer', 'model_id': 2461627756944, 'model_kwargs': "{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}", 'model_name': 'education', 'pipeline_name': 'ordinal enc'}, 'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OrdinalTargetedTransformer\\env_satisfaction.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OrdinalTargetedTransformer', 'model_id': 2461627756944, 'model_kwargs': "{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}", 'model_name': 'env_satisfaction', 'pipeline_name': 'ordinal enc'}, 'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OrdinalTargetedTransformer\\evaluation.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OrdinalTargetedTransformer', 'model_id': 2461627756944, 'model_kwargs': "{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}", 'model_name': 'evaluation', 'pipeline_name': 'ordinal enc'}, 'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OrdinalTargetedTransformer\\extra_hours.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OrdinalTargetedTransformer', 'model_id': 2461627756944, 'model_kwargs': "{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}", 'model_name': 'extra_hours', 'pipeline_name': 'ordinal enc'}, 'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OrdinalTargetedTransformer\\implication.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OrdinalTargetedTransformer', 'model_id': 2461627756944, 'model_kwargs': "{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}", 'model_name': 'implication', 'pipeline_name': 'ordinal enc'}, 'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OrdinalTargetedTransformer\\job_satisfaction.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OrdinalTargetedTransformer', 'model_id': 2461627756944, 'model_kwargs': "{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}", 'model_name': 'job_satisfaction', 'pipeline_name': 'ordinal enc'}, 'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OrdinalTargetedTransformer\\travel.pkl': {'custom': True, 'model_class_path': 'tools.models.transformations.categorical.OrdinalTargetedTransformer', 'model_id': 2461627756944, 'model_kwargs': "{'handle_unknown': 'use_encoded_value', 'unknown_value': nan}", 'model_name': 'travel', 'pipeline_name': 'ordinal enc'}}
loading..
Loaded obj: OneHotEncoder(sparse=False)
loading..
Loaded obj: OneHotEncoder(sparse=False)
loading..
Loaded obj: OneHotEncoder(sparse=False)
loading..
Loaded obj: OneHotEncoder(sparse=False)
loading..
Loaded obj: OrdinalEncoder(categories=[['Low', 'Medium', 'High', 'Very_High']],
               handle_unknown='use_encoded_value', unknown_value=nan)
loading..
Loaded obj: OrdinalEncoder(categories=[['Elementary', 'Secondary', 'University', 'Master']],
               handle_unknown='use_encoded_value', unknown_value=nan)
loading..
Loaded obj: OrdinalEncoder(categories=[['Low', 'Medium', 'High', 'Very_High']],
               handle_unknown='use_encoded_value', unknown_value=nan)
loading..
Loaded obj: OrdinalEncoder(categories=[['Low', 'Medium', 'High', 'Very_High']],
               handle_unknown='use_encoded_value', unknown_value=nan)
loading..
Loaded obj: OrdinalEncoder(categories=[['No', 'Yes']], handle_unknown='use_encoded_value',
               unknown_value=nan)
loading..
Loaded obj: OrdinalEncoder(categories=[['Low', 'Medium', 'High', 'Very_High']],
               handle_unknown='use_encoded_value', unknown_value=nan)
loading..
Loaded obj: OrdinalEncoder(categories=[['Low', 'Medium', 'High', 'Very_High']],
               handle_unknown='use_encoded_value', unknown_value=nan)
loading..
Loaded obj: OrdinalEncoder(categories=[['Non-Travel', 'Travel_Rarely',
                            'Travel_Frequently']],
               handle_unknown='use_encoded_value', unknown_value=nan)

In [45]:
features = [
  ('num no transf', NoTransformer(numerical_features))
]
features.extend([(key, model[0]) for key, model in models.items()])
data_transform_pipeline = FeatureUnion(features)

In [46]:
data_transform_pipeline.transformer_list[1][1].__dict__

{'_columns_to_apply': ['career', 'department', 'job', 'marital_status'],
 '_array_column_names': ['career__human_resources',
  'career__life_sciences',
  'career__marketing',
  'career__medical',
  'career__other',
  'career__technical_degree',
  'department__human_resources',
  'department__research_&_development',
  'department__sales',
  'job__healthcare_representative',
  'job__human_resources',
  'job__laboratory_technician',
  'job__manager',
  'job__manufacturing_director',
  'job__research_director',
  'job__research_scientist',
  'job__sales_executive',
  'job__sales_representative',
  'marital_status__divorced',
  'marital_status__married',
  'marital_status__single'],
 '_models': {'career': OneHotEncoder(sparse=False),
  'department': OneHotEncoder(sparse=False),
  'job': OneHotEncoder(sparse=False),
  'marital_status': OneHotEncoder(sparse=False)},
 '_model_kwargs': {},
 'extra_information': {'custom': {'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\career.pkl': True,
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\department.pkl': True,
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\job.pkl': True,
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\marital_status.pkl': True},
  'model_class_path': {'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\career.pkl': 'tools.models.transformations.categorical.OneHotTargetedTransformer',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\department.pkl': 'tools.models.transformations.categorical.OneHotTargetedTransformer',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\job.pkl': 'tools.models.transformations.categorical.OneHotTargetedTransformer',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\marital_status.pkl': 'tools.models.transformations.categorical.OneHotTargetedTransformer'},
  'model_id': {'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\career.pkl': 2461627758432,
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\department.pkl': 2461627758432,
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\job.pkl': 2461627758432,
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\marital_status.pkl': 2461627758432},
  'model_kwargs': {'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\career.pkl': '{}',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\department.pkl': '{}',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\job.pkl': '{}',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\marital_status.pkl': '{}'},
  'model_name': {'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\career.pkl': 'career',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\department.pkl': 'department',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\job.pkl': 'job',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\marital_status.pkl': 'marital_status'},
  'pipeline_name': {'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\career.pkl': 'one-hot enc',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\department.pkl': 'one-hot enc',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\job.pkl': 'one-hot enc',
   'E:\\Documentos\\Proyectos\\Portfolio\\employee_attrition\\models\\transformations\\OneHotTargetedTransformer\\marital_status.pkl': 'one-hot enc'}}}

In [47]:
all_columns = [transformer[1]._columns_to_apply for transformer in data_transform_pipeline.transformer_list]
all_columns

[Index(['age', 'distance_home', 'id', 'labour_level', 'monthly_salary',
        'num_previous_companies', 'perc_salary_improvement', 'action_level',
        'years_experience', 'num_education_last_year', 'years_company',
        'years_since_last_promotion', 'years_with_current_manager'],
       dtype='object'),
 ['career', 'department', 'job', 'marital_status'],
 ['coworkers_satisfaction',
  'education',
  'env_satisfaction',
  'evaluation',
  'extra_hours',
  'implication',
  'job_satisfaction',
  'travel']]

In [48]:
data_transform_pipeline.transform(x_train)

array([[4.900e+01, 1.000e+00, 8.870e+02, ..., 2.000e+00, 2.000e+00,
        1.000e+00],
       [3.200e+01, 5.000e+00, 1.555e+03, ..., 1.000e+00, 1.000e+00,
        1.000e+00],
       [6.000e+01, 2.800e+01, 5.730e+02, ..., 1.000e+00, 1.000e+00,
        2.000e+00],
       ...,
       [5.000e+01, 2.000e+00, 1.215e+03, ..., 2.000e+00, 2.000e+00,
        2.000e+00],
       [2.100e+01, 3.000e+00, 3.790e+02, ..., 1.000e+00, 1.000e+00,
        1.000e+00],
       [2.700e+01, 5.000e+00, 1.850e+03, ..., 2.000e+00, 2.000e+00,
        2.000e+00]])

# Imputing missing values